:root {
    --size: 80px;
    --opacity: 0.6;
    --color-start: #BB32BF;
    --color-middle: #BF1E2C;
    --color-end: #382DBF;
    --inhale: 3s;
    --exhale: 4s;
    --pause: 0.1s;

    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;
}

body{
    margin: 0;
    width: 160px;
    height: 160px;
}


.circle {
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    position: absolute;
    top: calc(var(--size)/2);
    left: calc(var(--size)/2);
    opacity: var(--opacity);
    /*-webkit-app-region: drag;*/
    z-index: -1;
}

/* animation style*/
.play-inhale{
    animation-name: inhale;
    animation: inhale var(--inhale) ease-in-out;
}
.play-exhale{
    animation-name: exhale;
    animation: exhale var(--exhale) ease-in-out;
}
.play-pause{
    animation-name: pause;
    animation: pause var(--pause) ease-in-out;
}
@keyframes inhale {
    0%   {
        background-color: var(--color-start);
        transform: scale(1);
    }
    100% {
        background-color: var(--color-middle);
        transform: scale(2);
    }
}
@keyframes pause {
    0%   {
        background-color: var(--color-middle);
        transform: scale(2);
    }
    100% {
        background-color: var(--color-middle);
        transform: scale(2);
    }
}
@keyframes exhale {
    0%   {
        background-color: var(--color-middle);
        transform: scale(2);
    }
    100% {
        background-color: var(--color-end);
        transform: scale(1);
    }
}

input{
    font-size: 10px;
    text-align: center;
}
#edit_overlay{
    top: 5px;
    left: 5px;
    width: 150px;
    background: rgba(0, 0, 0, 0.49);
    position: absolute;
    padding: 1px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 5px;
    justify-self: center;
    height: 150px;
    /*-webkit-app-region: drag;*/
}


.colorContainer,.timing{
    display: grid;
    grid-template-columns: auto auto auto;
}

.form-group{
    width: auto;
}
.form-field {
    position: relative;
    width: 90%;
    margin-top: 0;
    margin-bottom: 0;
}
